version: "3.3"

services:
  hotel:
    build: .
    restart: always
    ports:
      - "8080:8080"
  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "33060:33060"
    environment:
      MYSQL_ROOT_PASSWORD: "11111"
